.videoInfo:hover
{
  opacity: 1;
}

.videoGridItem
{
	margin-bottom:20px;
}

.videoInfo
{
	opacity: 0.6;
	position:relative;
  color: white;
	background-color: #FF358B;
	padding:10px;
	text-align:left;
}

.videoInfoImgContainer {
}

.videoInfoImg {
}

.centeredVertically 
{
	position: absolute;
  top: 50%;
	transform: translateY(-50%);
}

.thumbnailContainer
{
	position:relative;
	width:20%;
	height:0;
	padding-bottom:15%;
}
  
p.videoInfoText {  
	/*display:inline-block;
	width:70%;
	max-width:70%;
	margin-left:5px;
	overflow:hidden;
	vertical-align:middle;*/
	padding:5%;
  width: 75%;
	left: 20%;
}  

.btnList
{
	position: absolute;
	right: 0%;
	margin-right: 10px;
}

ul.btnList li
{
	list-style-type:none;
}

.videoItemButton
{
  /*background-color: transparent;*/
  color: white;
}

.ellipsis {  
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}  

#player{
	padding-top:50px;
}

@media(min-width:768px) {
  #player{
		padding-top:100px;
	}
}


